<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MaxPapas Oficial</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
   

    <link rel="stylesheet" href="css/principal.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>
    <a href="https://wa.me/3172809573" 
    class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

    <!--Header - menu-->
    <header>

        <div class="header-content">

            <div class="logo">
                <img src="./img/LogoMaxPapas.png" alt="">
        
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                        <li class="menu-selected" >
                            <a href="#"> 
                            <i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="#"> <i class="fa-solid fa-users"></i>¿Quienes somos?</a></li> 
                        <li><a href="#"> <i class="fa-solid fa-route"></i> Como llegar</a></li>
                    </ul>
                </nav>

            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

c    </header>

    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="blog-container-cover">
        <div class="container-info-cover">
            <h1>¡Los Sabores mas Locos!</h1>
            <p>Orgullo y Sabor Siderense</p>
        </div>
    </div>

    <div class="container-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked>
        <input type="radio" id="Carnes" name="categories" value="Carnes">
        <input type="radio" id="Max_Combos" name="categories" value="Max_Combos">
        <input type="radio" id="Max_Kids" name="categories" value="Max_Kids">
        <input type="radio" id="Para_Picar" name="categories" value="Para_Picar">
        <input type="radio" id="Para_Dos" name="categories" value="Para_Dos">
        


        <div class="container-category">
            <label for="TODOS">Todo</label>
            <label for="Carnes">Carnes</label>
            <label for="Max_Combos">Max Combos</label>
            <label for="Max_Kids">Max  Kids</label>
            <label for="Para_Picar">Para Picar</label>
            <label for="Para_Dos">Para Dos</label>
            
        </div>

        <div class="posts">

            <div class="post" data-category="Max_Combos Max_Kids">

                <div class="ctn-img">
                    <img src="img/productos/Max_Longui.JPG" alt="">      
                </div>

                <div class="infoProduct">
                    <h2>Max Longui</h2> 
                    <h3>"Eres lo que comes. ¿Qué te gustaría ser?"</h3>
                    
                </div>
                     

           
            </div>
            <div class="post" data-category="Max_Combos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Bombon.JPG" alt="">
                </div>
                <div class="infoProduct">
                    <h2>Max Bombon de Pollo</h2>
                    <h3>"A que no puedes comer solo una"</h3>    
                </div>


            </div>

            <div class="post" data-category="Max_Kids">

                <div class="ctn-img">
                    <img src="img/productos/Max_Ranchero.JPG" alt="">
                </div>
                <div class="infoProduct">
                    <h2>Max Salchi</h2> 
                    <h3>"El combo perfecto del desembale"</h3>    
                </div>


            </div>

            <div class="post" data-category="Max_Combos Para_Dos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Chicharron.JPG" alt="">
                </div>

                <div class="infoProduct">
                    <h2>Max Chicharrón</h2> 
                    <h3>"Uff Que delicia"</h3>    
                </div>

            </div>

            <div class="post" data-category="Max_Combos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Costillas.JPG" alt="">
                </div>
                <div class="infoProduct">
                    <h2>Max Costillas Baby</h2> 
                    <h3>"Deliciosidad saltando en tu boca"</h3>    
                </div>


            </div>

            <div class="post" data-category="Max_Combos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Mazorcada.JPG" alt="">
                </div>
                <div class="infoProduct">  
                <h2>Max Mazorcada</h2> 
                    <h3>"Como la casa de Mamá"</h3>    
                </div>

               

             </div>

             <div class="post" data-category="Max_Combos Max_Kids">

                <div class="ctn-img">
                    <img src="img/productos/Max_Chorizo.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Chorizo</h2>
                        <h3>"Apuesto a que no encontrará nada mejor"</h3>    
                    </div>
                 

             </div>

             <div class="post" data-category="Max_Kids Para_Picar">

                <div class="ctn-img">
                    <img src="img/productos/Max_Maicitos.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Maicitos</h2> 
                        <h3>"La lujosa comida callejera"</h3>    
                    </div>
                 


             </div>


             <div class="post" data-category="Max_Kids Para_Picar">

                <div class="ctn-img">
                    <img src="img/productos/Max_Chips.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Chips</h2> 
                        <h3>"El amor Frito"</h3>    
                    </div>


             </div>

             <div class="post" data-category="Max_Combos Para_Dos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Trifasico.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Trifásica</h2> 
                        <h3>"Nos gusta comer bien"</h3>    
                    </div>


             </div>

             <div class="post" data-category="Max_Combos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Pollo.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Pollo Agridulce</h2>  
                        <h3>"Para Chuparse los dedos"</h3>    
                    </div>



             </div>

             <div class="post" data-category="Max_Combos Para_Dos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Siderense.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Paisa Siderense</h2> 
                        <h3>"Solo para personas hambrientas"</h3>    
                    </div>



             </div>

             <div class="post" data-category="Carnes">

                <div class="ctn-img">
                    <img src="img/productos/Max_Solomo.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Solomo Extranjero</h2> 
                        <h3>"Bienvenidos al Paraíso"</h3>    
                    </div>



             </div>

             <div class="post" data-category="Carnes">

                <div class="ctn-img">
                    <img src="img/productos/Max_Chuzo.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Chuzo</h2> 
                        <h3>"Mil sabores en un solo lugar"</h3>    
                    </div>

             </div>
             <div class="post" data-category="Max_Combos">

                <div class="ctn-img">
                    <img src="img/productos/Max_Cerdo.JPG" alt="">
                </div>
                <div class="infoProduct">  
                    <h2>Max Cerdo A La Naranja</h2> 
                        <h3>"Hablamos el lenguaje de la buena comida"</h3>    
                    </div>

                

             </div>


        </div>

    </div>


    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="img/logo-magtimus-pro-.png" alt="">
            </div>

            <div class="redes-footer">
                <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="#"><i class="fa-brands fa-youtube icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

            <hr>
            .
            <h4>© 2022 MaxPapas - Todos los Derechos Reservados</h4>
            <div class="desarrollo">
                
            </div>
            <h5>Desarrollado por: <a href=""> @Alvarez</a></h5>

        </footer>

    </div>

</div>

<script src="js/script.js"></script>
    
</body>
</html>